<!DOCTYPE html>
<html>
  <head>
    <title>Demo: Bootstrap / npm / webpack</title>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container">
        <a class="navbar-brand" href="#">Groeiproject</a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarMenu"
          aria-controls="navbarMenu"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarMenu">
          <ul class="nav navbar-nav">
            <li class="nav-item">
              <a
                class="active nav-link"
                id="home_nav"
                data-bs-toggle="tab"
                href="#home"
                name="page"
                >Home</a
              >
            </li>
            <li class="nav-item">
              <a
                class="nav-link"
                id="detail_nav"
                data-bs-toggle="tab"
                href="#detail"
                name="page"
                >Detail</a
              >
            </li>
            <li class="nav-item">
              <a
                class="nav-link"
                id="search_nav"
                data-bs-toggle="tab"
                href="#search"
                name="page"
                >Search</a
              >
            </li>
            <li class="nav-item">
              <a
                class="nav-link"
                id="about_nav"
                data-bs-toggle="tab"
                href="#about"
                name="page"
                >About</a
              >
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="tab-content container mt-5 min-vh-75">
      <div class="mt-3" id="feedback"></div>
      <%- include('./panes/home.ejs') %> <%- include('./panes/detail.ejs') %>
      <%- include('./panes/search.ejs') %> <%- include('./panes/about.ejs') %>
    </div>

    <footer class="footer bg-light p-3 mt-5">
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <span class="text-muted">arne.meylemans&#64;student.kdg.be</span>
          </div>
          <div class="col-md-4">
            <span class="text-muted">Nationalestraat 5, 2000 Antwerpen</span>
          </div>
          <div class="col-md-4">
            <a class="text-decoration-none" href="#">
              <img
                src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/06/Facebook.svg/langnl-340px-Facebook.svg.png"
                class="w-25"
              />
            </a>
            <a class="text-decoration-none m-3" href="#">
              <img
                src="https://www.pngkey.com/png/detail/60-600842_logo-instagram-png-find-us-on-instagram-logo.png"
                class="w-25"
              />
            </a>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
