<section id="detail" class="tab-pane" name="page">
    <h3>Detail</h3>
    <input type="radio" class="d-none" name="options-outlined" value="monument_existing" id="monument_existing" autocomplete="off" />
    <label class="btn btn-outline-primary" for="monument_existing" name="detailPageLabel" id="monument_existing_label">Existing</label>
    <input type="radio" class="d-none" name="options-outlined" value="monument_new" id="monument_new" autocomplete="off" checked />
    <label class="btn btn-outline-primary" for="monument_new" name="detailPageLabel" id="monument_new_label" />New</label>
    <div class="row">
      <form class="col-lg-9 row" id="detailsForm">
        <div class="col-md-12 form-group only-existing">
          <label class="d-none d-md-block" for="name">Id</label>
          <input
            type="text"
            class="form-control"
            placeholder="Id"
            id="id"
            readonly/>
        </div>

        <div class="col-md-6 form-group">
          <label class="d-none d-md-block" for="name">Name</label>
          <input
            type="text"
            class="form-control"
            placeholder="Name"
            id="name"
          />
        </div>

        <div class="col-md-6 form-group">
          <label class="d-none d-md-block" for="height">Height</label>
          <input
            type="text"
            class="form-control"
            placeholder="Height"
            id="height"
          />
        </div>
        <div class="col-md-6 form-group">
          <label class="d-none d-md-block" for="constructionYear"
            >Construction Year</label
          >
          <input
            type="date"
            class="form-control"
            placeholder="Construction Year"
            id="constructionYear"
          />
        </div>

        <div class="col-md-6 form-group">
          <label class="d-none d-md-block" for="country">Country</label>
          <input
            type="tel"
            class="form-control"
            id="country"
            placeholder="Country"
          />
        </div>

        <div class="col-md-12 form-group only-new">
          <label class="d-none d-md-block" for="url"
            >Image url <small>Please include http://</small></label
          >
          <div class="input-group">
            <span class="input-group-text "><i class="bi bi-link"></i></span>
            <input type="url"
            class="form-control"
            id="url"
            placeholder="Image url">
          </div>
        </div>
      </form>
      <div class="col-lg-3">
        <label class="d-none d-md-block only-existing" for="name">Image</label>
        <img
          src="#"
          class="w-100 only-existing"
          id="image"
          alt="Monument"
        />
      </div>
      <div class="col-lg-12">
        <div class="col-md-12 form-group mt-5 only-new">
          <button type="submit" class="btn btn-primary" id="post">Submit</button>
        </div>
        <div class="col-md-12 form-group mt-5 only-existing">
          <button type="submit" class="btn btn-primary" id="put">Pas aan</button>
          <button type="submit" class="btn btn-primary" id="delete">Delete</button>
        </div>
      </div>
    </div>
  </section>