<section id="home" class="tab-pane active" name="page">
  <h2>Home</h2>
  <div class="d-flex justify-content-center mb-5 row">
    <div class="card col-4" name="homecart">
      <div class="card-body">
        <h5 class="card-title text-center" name="homename"></h5>
      </div>
      <img
        class="card-img-bottom w-100"
        src="#"
        alt="Monument"
        name="homeimage"
      />
    </div>
    <div class="card col-4" name="homecart">
      <div class="card-body">
        <h5 class="card-title text-center" name="homename"></h5>
      </div>
      <img
        class="card-img-bottom w-100"
        src="#"
        alt="Monument"
        name="homeimage"
      />
    </div>
    <div class="card col-4" name="homecart">
      <div class="card-body">
        <h5 class="card-title text-center" name="homename"></h5>
      </div>
      <img
        class="card-img-bottom w-100"
        src="#"
        alt="Monument"
        name="homeimage"
      />
    </div>
  </div>
</section>
