<section id="search" class="tab-pane" name="page">
  <h3>Search</h3>
  <input id="searchbar" type="text" class="form-control" placeholder="Search" />
  <div id="tablecontainer" class="mt-5">
    <table id="searchtable" class="table">
      <tr class="tablehead text-white bg-dark">
        <td>#</td>
        <td>Name</td>
        <td>Date of foundation</td>
        <td>Brands</td>
        <td>Europe</td>
      </tr>
    </table>
  </div>
</section>
