@use "variables" as *;
// imports from mixins will be prefixed with mx
// prefixing is not needed if you import mixins as *
@use "mixins" as mx;


#detail {
    #monument_existing:checked ~ div > * > *.only-new {
        @include mx.notVisible;
    }

    #monument_new:checked ~ div > * > *.only-existing {
        @include mx.notVisible;
    }
}